# SQL

## 1. Skapa tabell

Vi börjar med att skapa en tabell som loggar användarhändelser.

In [1]:
import sqlite3 # Pythons inbyggda SQLite-modul 
conn = sqlite3.connect("user_actions.db") 
cursor = conn.cursor() 

cursor.execute(''' 
CREATE TABLE IF NOT EXISTS user_actions (
    id INTEGER PRIMARY KEY,
    user_id INTEGER,
    action TEXT,
    timestamp TEXT
)
''')
conn.commit() # sparar ändringarna i databasen

## 2. Visa tabell

In [2]:
cursor.execute("SELECT * FROM user_actions")
# list(cursor.fetchall())

## 3. Visa kolumner

In [3]:
list(cursor.execute("PRAGMA table_info('user_actions');")) # list(cursor.execute("SELECT * FROM PRAGMA_TABLE_INFO('user_actions');"))

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'user_id', 'INTEGER', 0, None, 0),
 (2, 'action', 'TEXT', 0, None, 0),
 (3, 'timestamp', 'TEXT', 0, None, 0)]

## 4. Lägga till rader (INSERT)

In [4]:
actions = [
    (12, 'clicked button', '2025-01-14 10:32:20'),
    (8, 'logout', '2025-01-14 11:02:05'),
    (5, 'purchase', '2025-01-14 12:10:44'), 
]

cursor.executemany("""
INSERT INTO user_actions (user_id, action, timestamp)
VALUES (?, ?, ?)
""", actions)

conn.commit()
list(cursor.execute('SELECT * FROM user_actions'))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44')]

In [5]:
cursor.execute("""
INSERT INTO user_actions (user_id, action, timestamp)
VALUES (12, 'login', '2025-01-14 10:32:20')
""")

conn.commit()
list(cursor.execute('SELECT * FROM user_actions'))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

## 5. Hämta data (SELECT)

In [6]:
list(cursor.execute('SELECT action FROM user_actions'))

[('clicked button',), ('logout',), ('purchase',), ('login',)]

In [7]:
cursor.execute("SELECT * FROM user_actions")
# list(cursor.fetchall())

## 6. Filtrera data (WHERE)

In [8]:
list(cursor.execute('SELECT * FROM user_actions WHERE user_id = 5'))

[(3, 5, 'purchase', '2025-01-14 12:10:44')]

In [9]:
list(cursor.execute("SELECT * FROM user_actions WHERE action = 'logout'"))

[(2, 8, 'logout', '2025-01-14 11:02:05')]

In [10]:
list(cursor.execute("SELECT * FROM user_actions WHERE timestamp >= '2025-01-14'"))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [11]:
list(cursor.execute("""
SELECT * FROM user_actions
WHERE user_id = 5 AND action = 'clicked button'
"""))

[]

In [12]:
user = 5
list(cursor.execute("SELECT * FROM user_actions WHERE user_id = ?", (user,)))

[(3, 5, 'purchase', '2025-01-14 12:10:44')]

## 7. Sortera data (ORDER BY)

In [13]:
list(cursor.execute("SELECT * FROM user_actions ORDER BY user_id ASC")) # ASC stigande

[(3, 5, 'purchase', '2025-01-14 12:10:44'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [14]:
list(cursor.execute("SELECT * FROM user_actions ORDER BY timestamp DESC")) # DESC fallande

[(3, 5, 'purchase', '2025-01-14 12:10:44'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [15]:
list(cursor.execute("""
SELECT * FROM user_actions
ORDER BY user_id ASC, timestamp DESC
"""))

[(3, 5, 'purchase', '2025-01-14 12:10:44'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [16]:
list(cursor.execute("""
SELECT user_id, action
FROM user_actions
ORDER BY user_id
"""))

[(5, 'purchase'), (8, 'logout'), (12, 'clicked button'), (12, 'login')]

In [17]:
list(cursor.execute("""
SELECT * FROM user_actions
WHERE user_id = 5
ORDER BY timestamp DESC
"""))

[(3, 5, 'purchase', '2025-01-14 12:10:44')]

## 8. Begränsa antal rader (LIMIT)

In [18]:
list(cursor.execute("SELECT * FROM user_actions LIMIT 5"))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [19]:
list(cursor.execute("""
SELECT * FROM user_actions
ORDER BY timestamp DESC
LIMIT 10
"""))

[(3, 5, 'purchase', '2025-01-14 12:10:44'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [20]:
list(cursor.execute("""
SELECT * FROM user_actions
LIMIT 5 OFFSET 5
"""))

[]

In [21]:
n = 3
list(cursor.execute("SELECT * FROM user_actions LIMIT ?", (n,)))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44')]

## 9. Updatera data (UPDATE)

In [22]:
cursor.execute("""
UPDATE user_actions
SET action = 'logout', timestamp = '2025-01-15 14:00:00'
WHERE id = 3
""")
conn.commit()

In [23]:
list(cursor.execute("SELECT * FROM user_actions"))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'logout', '2025-01-15 14:00:00'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [24]:
cursor.execute("""
UPDATE user_actions
SET action = 'reviewed'
WHERE user_id = 5
""")
conn.commit()

In [25]:
new_action = 'clicked again'
uid = 12

cursor.execute("""
UPDATE user_actions
SET action = ?
WHERE user_id = ?
""", (new_action, uid))

conn.commit()

## 11. Primärnyckel och datatyper

In [26]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    grade REAL,
    passed INTEGER
)
""")
conn.commit()

In [27]:
cursor.execute("INSERT INTO students (name, age, grade, passed) VALUES ('Anna', 22, 4.5, 1)")
conn.commit()

In [28]:
list(cursor.execute("SELECT * FROM students"))

[(1, 'Anna', 22, 4.5, 1)]

## 12. Kombinera tabeller (JOIN)

In [29]:
cursor.executemany("""
INSERT INTO user_actions (user_id, action, timestamp)
VALUES (?, ?, ?)
""", [
    (1, 'login', '2024-01-01'),
    (3, 'purchase', '2024-01-02')
])
conn.commit()

In [30]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT
)
""")
conn.commit()

In [31]:
cursor.executemany("""
INSERT INTO users (name)
VALUES (?)
""", [
    ('Anna',),
    ('Erik',),
    ('Lisa',)
])
conn.commit()

In [32]:
list(cursor.execute("SELECT * FROM users"))

[(1, 'Anna'), (2, 'Erik'), (3, 'Lisa')]

In [33]:
list(cursor.execute("""
SELECT users.name, user_actions.action
FROM users
JOIN user_actions
ON users.id = user_actions.user_id
"""))

[('Anna', 'login'), ('Lisa', 'purchase')]

## 13. Aggregat: COUNT, SUM, AVG, MAX, MIN

### count - räkna rader

In [34]:
list(cursor.execute("SELECT COUNT(*) FROM user_actions"))

[(6,)]

In [35]:
list(cursor.execute("SELECT COUNT(*) FROM user_actions WHERE action = 'logout'"))

[(1,)]

### MAX - hitta senaste timestamp

In [36]:
list(cursor.execute("SELECT MAX(timestamp) FROM user_actions"))

[('2025-01-15 14:00:00',)]

### MIN - MIN – hitta äldsta timestamp

In [37]:
list(cursor.execute("SELECT MIN(timestamp) FROM user_actions"))

[('2024-01-01',)]

### AVG - medelvärde (om kolumnen är numerisk)

In [38]:
list(cursor.execute("SELECT AVG(user_id) FROM user_actions"))

[(6.833333333333333,)]

### SUM - summera värden

In [39]:
list(cursor.execute("SELECT SUM(user_id) FROM user_actions"))

[(41,)]

## Gruppering (GROUPBY)

## 14. Gruppning (GROUP BY)

### 14.1 – Räkna antal actions per user_id

In [40]:
list(cursor.execute("""
SELECT user_id, COUNT(*)
FROM user_actions
GROUP BY user_id
"""))

[(1, 1), (3, 1), (5, 1), (8, 1), (12, 2)]

### 14.2 – Räkna antal av en viss action per user_id

In [41]:
list(cursor.execute("""
SELECT user_id, COUNT(*)
FROM user_actions
WHERE action = 'logout'
GROUP BY user_id
"""))

[(8, 1)]

### 14.3 – Visa senaste action per user

In [42]:
list(cursor.execute("""
SELECT user_id, MAX(timestamp)
FROM user_actions
GROUP BY user_id
"""))

[(1, '2024-01-01'),
 (3, '2024-01-02'),
 (5, '2025-01-15 14:00:00'),
 (8, '2025-01-14 11:02:05'),
 (12, '2025-01-14 10:32:20')]

### 14.4 – Kombinera GROUP BY med ORDER BY

In [43]:
list(cursor.execute("""
SELECT user_id, COUNT(*)
FROM user_actions
GROUP BY user_id
ORDER BY COUNT(*) DESC
"""))

[(12, 2), (8, 1), (5, 1), (3, 1), (1, 1)]

### 14.5 – Gruppera på action istället

In [44]:
list(cursor.execute("""
SELECT action, COUNT(*)
FROM user_actions
GROUP BY action
"""))

[('clicked again', 2),
 ('login', 1),
 ('logout', 1),
 ('purchase', 1),
 ('reviewed', 1)]

## 10. Ta bort data (DELETE)

In [45]:
# import os

#if os.path.exists("user_actions.db"):
#    os.remove("user_actions.db")
#    print("Deleted user_actions.db")
#else:
#    print("File not found")

In [46]:
conn.commit()   # ← viktigt
conn.close()    # ← stänger filhandtaget

In [47]:
import os
os.remove("user_actions.db")