# SQL

## 1. Skapa tabell

Vi börjar med att skapa en tabell som loggar användarhändelser.

In [1]:
import sqlite3 # Pythons inbyggda SQLite-modul 
conn = sqlite3.connect("user_actions.db") 
cursor = conn.cursor() 

cursor.execute(''' 
CREATE TABLE IF NOT EXISTS user_actions (
    id INTEGER PRIMARY KEY,
    user_id INTEGER,
    action TEXT,
    timestamp TEXT
)
''')

conn.commit() # sparar ändringarna i databasen

## 2. Visa tabell

In [2]:
list(cursor.execute('SELECT * FROM user_actions'))

[]

In [3]:
cursor.execute("SELECT * FROM user_actions")
list(cursor.fetchall())

[]

## 3. Visa kolumner

In [4]:
list(cursor.execute("PRAGMA table_info('user_actions');")) # list(cursor.execute("SELECT * FROM PRAGMA_TABLE_INFO('user_actions');"))

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'user_id', 'INTEGER', 0, None, 0),
 (2, 'action', 'TEXT', 0, None, 0),
 (3, 'timestamp', 'TEXT', 0, None, 0)]

## 4. Lägga till rader (INSERT)

In [5]:
actions = [
    (12, 'clicked button', '2025-01-14 10:32:20'),
    (8, 'logout', '2025-01-14 11:02:05'),
    (5, 'purchase', '2025-01-14 12:10:44'), 
]

cursor.executemany("""
INSERT INTO user_actions (user_id, action, timestamp)
VALUES (?, ?, ?)
""", actions)

conn.commit()
list(cursor.execute('SELECT * FROM user_actions'))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44')]

In [6]:
cursor.execute("""
INSERT INTO user_actions (user_id, action, timestamp)
VALUES (12, 'login', '2025-01-14 10:32:20')
""")

conn.commit()
list(cursor.execute('SELECT * FROM user_actions'))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

## 5. Hämta data (SELECT)

In [7]:
list(cursor.execute('SELECT action FROM user_actions'))

[('clicked button',), ('logout',), ('purchase',), ('login',)]

In [8]:
cursor.execute("SELECT * FROM user_actions")
list(cursor.fetchall())

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44'),
 (4, 12, 'login', '2025-01-14 10:32:20')]

In [9]:
for row in cursor.execute('SELECT user_id FROM user_actions'):
    print(row)

(12,)
(8,)
(5,)
(12,)

### RADERA FILER

In [10]:
cursor.execute("DROP TABLE IF EXISTS user_actions")
conn.commit()

In [11]:
import os

if os.path.exists("user_actions.db"):
    os.remove("user_actions.db")
    print("Deleted user_actions.db")
else:
    print("File not found")

Deleted user_actions.db