# Exploring user_actions database with SQL

In [1]:
import sqlite3
connection = sqlite3.connect('/Users/alvinalindqvist/Desktop/user_actions.db')

cursor = connection.cursor()

'''Select the names of all tables'''
list(cursor.execute("SELECT name FROM sqlite_master WHERE type='table';"))

[('user_actions',), ('purchases',)]

In [2]:
'''Select all that the function shows from he table user_actions '''
list(cursor.execute("SELECT * FROM PRAGMA_TABLE_INFO('user_actions');"))

[(0, 'user_id', 'INTEGER', 0, None, 0),
 (1, 'username', 'TEXT', 0, None, 0),
 (2, 'email', 'TEXT', 0, None, 0),
 (3, 'action', 'TEXT', 0, None, 0),
 (4, 'timestamp', 'TEXT', 0, None, 0)]

In [3]:
list(cursor.execute("SELECT * FROM user_actions LIMIT 10;"))

[(34, 'user34', 'user34@email.com', 'signup', '2015-02-04 14:38:47'),
 (28, 'user28', 'user28@email.com', 'signup', '2015-03-09 11:55:33'),
 (27, 'user27', 'user27@email.com', 'login', '2015-04-17 14:48:31'),
 (27, 'user27', 'user27@email.com', 'login', '2015-04-21 13:22:14'),
 (27, 'user27', 'user27@email.com', 'reset_password', '2015-04-25 16:30:15'),
 (27, 'user27', 'user27@email.com', 'login', '2015-05-31 15:58:20'),
 (27, 'user27', 'user27@email.com', 'login', '2015-06-25 16:07:26'),
 (27, 'user27', 'user27@email.com', 'login', '2015-07-15 15:34:38'),
 (27, 'user27', 'user27@email.com', 'login', '2015-07-18 14:02:42'),
 (27, 'user27', 'user27@email.com', 'login', '2015-08-06 13:16:56')]

### We retrieve the usernames of all users who have performed the "signup" action.

In [4]:
query = """
SELECT
    username 
FROM
    user_actions
WHERE
    action='signup'
ORDER BY
    username;
"""
result = list(cursor.execute(query))
result[:10]

[('user1',),
 ('user10',),
 ('user11',),
 ('user12',),
 ('user13',),
 ('user14',),
 ('user15',),
 ('user16',),
 ('user17',),
 ('user18',)]

#### We will now find the total number of log entries for each user. Display the user_id, username, and the count of log entries.

In [5]:
query = """
SELECT
    user_id, 
    username, 
    COUNT(*) AS log_count
FROM
    user_actions
GROUP BY 
    user_id,
    username
"""
result = list(cursor.execute(query))
result[:10]

[(1, 'user1', 104),
 (2, 'user2', 149),
 (3, 'user3', 108),
 (4, 'user4', 436),
 (5, 'user5', 192),
 (6, 'user6', 457),
 (7, 'user7', 362),
 (8, 'user8', 329),
 (9, 'user9', 118),
 (10, 'user10', 170)]

##### Who makes the most actions?

In [6]:
query = """
SELECT
    user_id, 
    username, 
    COUNT(*) AS log_count
FROM
    user_actions
GROUP BY 
    user_id,
    username
ORDER BY
    log_count DESC;
"""
result = list(cursor.execute(query))
result[:10]

[(13, 'user13', 470),
 (6, 'user6', 457),
 (4, 'user4', 436),
 (35, 'user35', 394),
 (31, 'user31', 389),
 (16, 'user16', 379),
 (17, 'user17', 367),
 (7, 'user7', 362),
 (20, 'user20', 362),
 (8, 'user8', 329)]

##### Who makes the least actions?

In [7]:
query = """
SELECT
    user_id, 
    username, 
    COUNT(*) AS log_count
FROM
    user_actions
GROUP BY 
    user_id,
    username
ORDER BY
    log_count ASC;
"""
result = list(cursor.execute(query))
result[:10]

[(32, 'user32', 32),
 (33, 'user33', 32),
 (15, 'user15', 35),
 (29, 'user29', 49),
 (19, 'user19', 58),
 (28, 'user28', 91),
 (1, 'user1', 104),
 (3, 'user3', 108),
 (9, 'user9', 118),
 (18, 'user18', 122)]

### Identifying users who have both logged in (action = 'login') and signed up (action = 'signup') on the same day. Display the user_id and username.

In [8]:
list(cursor.execute("SELECT DISTINCT action FROM user_actions;"))

[('signup',), ('login',), ('reset_password',)]

In [9]:
query = """
SELECT
    user_id,
    username
FROM
    user_actions
GROUP BY
    user_id,
    username,
    DATE(timestamp) 
HAVING
    SUM(action = 'login') > 0
    AND SUM(action = 'signup') > 0;
"""
result = list(cursor.execute(query))
result[:10]

[(2, 'user2'),
 (5, 'user5'),
 (7, 'user7'),
 (8, 'user8'),
 (12, 'user12'),
 (22, 'user22'),
 (30, 'user30'),
 (32, 'user32')]