# SQL tour - 1. Skapa tabell

Vi börjar med att skapa en tabell som loggar användarhändelser.

In [1]:
import sqlite3 # Pythons inbyggda SQLite-modul 
conn = sqlite3.connect("user_actions.db") 
cursor = conn.cursor() 

cursor.execute(''' 
CREATE TABLE IF NOT EXISTS user_actions (
    id INTEGER PRIMARY KEY,
    user_id INTEGER,
    action TEXT,
    timestamp TEXT
)
''')

conn.commit() # sparar ändringarna i databasen

In [2]:
actions = [
    (12, 'clicked button', '2025-01-14 10:32:20'),
    (8, 'logout', '2025-01-14 11:02:05'),
    (5, 'purchase', '2025-01-14 12:10:44'), 
    (5, 'clicked button', '2025-12-09 14:30:05')
]

cursor.executemany("""
INSERT INTO user_actions (user_id, action, timestamp)
VALUES (?, ?, ?)
""", actions)

conn.commit()

In [3]:
list(cursor.execute('SELECT * FROM user_actions'))

[(1, 12, 'clicked button', '2025-01-14 10:32:20'),
 (2, 8, 'logout', '2025-01-14 11:02:05'),
 (3, 5, 'purchase', '2025-01-14 12:10:44'),
 (4, 5, 'clicked button', '2025-12-09 14:30:05')]

In [4]:
cursor.execute("DROP TABLE IF EXISTS user_actions")
conn.commit()

### new table

In [5]:
import sqlite3
conn = sqlite3.connect('algebra_course.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS algebra_course (
    anonymization_code TEXT,
    grade TEXT,
    result TEXT)
    ''')
conn.commit()

In [6]:
actions = [
    ('XWH403551773', 'A', 'PASS'),
    ('DHW402542004', 'F', 'FAIL'),
    ('XHW401564329', 'C', 'PASS'),
    ('WWD404545632', 'B', 'PASS'), 
    ('WHD406545323', 'D', 'PASS'), 
    ('DWH405434544', 'E', 'PASS'), 
    ('WDH407654432', 'C', 'PASS')
]

cursor.executemany('''
INSERT INTO algebra_course (anonymization_code, grade, result)
VALUES (?, ?, ?) 
''', actions)

conn.commit()

In [7]:
list(cursor.execute('SELECT * FROM algebra_course'))

[('XWH403551773', 'A', 'PASS'),
 ('DHW402542004', 'F', 'FAIL'),
 ('XHW401564329', 'C', 'PASS'),
 ('WWD404545632', 'B', 'PASS'),
 ('WHD406545323', 'D', 'PASS'),
 ('DWH405434544', 'E', 'PASS'),
 ('WDH407654432', 'C', 'PASS')]

In [8]:
cursor.execute("DROP TABLE IF EXISTS algebra_course")
conn.commit()